In [33]:
import flickrapi
import pandas as pd
import seaborn as sns

In [11]:
api_key = '73d221be5e1cc2745319e4a7e39255bd'
api_secret = '541f10a0ea821424'

In [20]:
flickr = flickrapi.FlickrAPI(api_key, api_secret, format='parsed-json')
flickr.authenticate_via_browser(perms='read')

In [51]:
photos = flickr.photos.search(min_upload_date='2020-01-01', max_upload_date='2020-12-31', hasgeo=1, extras='geo, tags')

In [52]:
data = pd.DataFrame(photos['photos']['photo']).drop(columns=['owner','secret','server','farm', 'woeid', 'geo_is_public','geo_is_friend','geo_is_contact','geo_is_family'])

In [53]:
data.head()

,id,title,ispublic,isfriend,isfamily,tags,latitude,longitude,accuracy,context,place_id
0,50781327637,TMYN8465,1,0,0,,45.482702,-122.572264,16,0,
1,50780699401,Kearny Station,1,0,0,new jersey kearny nj power plant station pseg ...,40.736998,-74.096410,15,0,
2,50777491641,moon over the bay,1,0,0,,37.764694,-122.437495,16,0,
3,50776802446,Dec 2020 107,1,0,0,dec2020,44.467422,-72.055175,16,0,
4,50774546088,Expanse of New Carpet,1,0,0,365libs lesterpubliclibrary librariesandlibrar...,44.143552,-87.569341,15,0,